services:
  mongo:
    image: mongo:latest
    container_name: dev-mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: inditex_db
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--quiet", "--eval", "db.adminCommand('ping').ok"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  mongo_data: